body{

margin:0;

font-family:Segoe UI;

background:#eef3f9;

display:flex;

}


.sidebar{


width:260px;

background:#0B5CAB;

min-height:100vh;

color:white;

}


.logo{

text-align:center;

padding:30px;

}


.logo img{


width:90px;

background:white;

padding:10px;

border-radius:12px;

}



.sidebar ul{

padding:0;

}


.sidebar li{

padding:18px;

list-style:none;

cursor:pointer;

}


.sidebar li:hover{


background:#0a4e90;

}


.active{


background:#f4b400;

color:black;

}



.main{

flex:1;

padding:25px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

}


.cards{


display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

}


.card{


padding:20px;

border-radius:15px;

color:white;

}


.blue{background:#0B5CAB;}
.red{background:#d32f2f;}
.yellow{background:#f4b400;}
.green{background:#2e7d32;}
.cyan{background:#00acc1;}
.orange{background:#fb8c00;}
.navy{background:#3949ab;}
.success{background:#43a047;}


.dashboard{


margin-top:25px;

display:grid;

grid-template-columns:1fr 1fr 1fr;

gap:20px;

}


.box{


background:white;

padding:20px;

border-radius:15px;

box-shadow:0 4px 15px rgba(0,0,0,0.1);

}


.progress{


height:18px;

background:#ddd;

border-radius:20px;

overflow:hidden;

}


.bar{


width:72%;

height:100%;

background:#0B5CAB;

}


table{

width:100%;

}


th{

text-align:left;

padding:10px;

}


td{

padding:10px;

}
